name: Run test case

on: [push, pull_request]

jobs:
    run_test_case:
        runs-on: ubuntu-latest

        container:
            image: ghcr.io/emqx/emqx-builder/6.0-6:1.19.1-28.2-1-ubuntu22.04

        steps:
        - uses: actions/checkout@v5.0.0

        - name: Compile
          run: |
            make dialyzer

        - name: Test
          run: |
            make test

        - uses: actions/upload-artifact@v4.6.2
          if: always()
          with:
            name: logs
            path: _build/test/logs
